# Database
DATABASE_URL="postgresql://user:password@host:6543/dbname?pgbouncer=true"
DIRECT_URL="postgresql://user:password@host:5432/dbname"

# Auth
JWT_SECRET=your-secret-key

# Supabase Storage
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# WhatsApp Gateway (Fonnte)
FONNTE_API_KEY=
INSTAGRAM_URL=https://www.instagram.com/warkop.soekardjo/
